<adminOpop>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Редактирование ОПОП </a>
            <div>
                <button type="button" class="btn btn-primary" onclick={goBack}>Назад</button>
            </div>
        </nav>
        <!--TABS-->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">"TRAININGPROFILE</th>
                    <th scope="col"> "EFORM"</th>
                    <th scope="col"> "DESCRIPTION"</th>
                    <th scope="col">VER</th>
                </tr>
            </thead>
            <tbody>
                <tr each="{item, index in store.adminOpop}" data-target="#EditOpopModale" data-toggle="modal" onclick={clickRowOpop}>
                    <th scope="row">{index+1}</th>
                    <td>{item.TRAININGPROFILE}</td>
                    <td>{item.EFORM}</td>
                    <td>{item.DESCRIPTION}</td>
                    <td>{item.VER}</td>
                </tr>
                <tr>
                    <th scope="row">
                        <button id="btnGroupDrop1" data-target="#AddOpopModale" data-toggle="modal" type="button" class="btn btn-primary  plan-card button-study-plan"
                            aria-haspopup="true" aria-expanded="false">
                            +
                        </button>
                    </th>
                    <td></td>

                </tr>
            </tbody>
        </table>
    </div>
    <!--PROFILE MODALS-->
    <div class="modal fade" id="AddOpopModale" tabindex="-1" role="dialog" aria-labelledby="AddOpopModale" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить ОПОП</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form>




                        <div class="form-group">
                            <label for="competentTitleEdit">EFORM</label>
                            <select  class="form-control" id="addOpopEform">
                                <option each="{item, index in store.adminEform}">{item.OID }
                                </option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">DESCRIPTION</label>
                            <input type="text" class="form-control" id="addOpopDescription" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">VER</label>
                            <input type="text" class="form-control" id="addOpopVer" aria-describedby="emailHelp">
                        </div>



                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{addOpop}">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditOpopModale" tabindex="-1" role="dialog" aria-labelledby="EditOpopModale" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование профиля подготовки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">
                            <label for="competentTitleEdit">EFORM</label>
                            <select  class="form-control" id="editOpopEform">
                                <option each="{item, index in store.adminEform}">{item.OID }
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">DESCRIPTION</label>
                            <input type="text" class="form-control" id="editOpopDescription" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">VER</label>
                            <input type="text" class="form-control" id="editOpopVer" aria-describedby="emailHelp">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="{deleteOpop}">Удалить</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{saveOpop}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        var self = this;

        this.on("mount", function () {
            self.getEform();
            self.getOpop();
            self.update();
        });

        goBack(){
            console.log(store.selectedProfile.OID);

            self.unmount(true);
            riot.mount("adminTg");
        };
        deleteOpop(){
            $.ajax({
                method: "POST",
                url: ServerName + "admin/opop/delete",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({
                    oid: store.selectedOpopAdmin.OID,
                    token: store.token,
                }),
                success: function (data) {
                    self.getOpop();

                    //alert('Сохранено!');

                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        };
        saveOpop(){

            //  addOpopTrain "addOpopEform "addOpopDescription""addOpopVer"
            $.ajax({
                method: "POST",
                url: ServerName + "admin/opop/update",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({
                    oid: store.selectedOpopAdmin.OID,
                    token: store.token,
                    profile: store.selectedProfile.OID,
                    eform: $("#editOpopEform").val(),
                    description: $("#editOpopDescription").val(),
                    ver: $("#editOpopVer").val(),


                }),
                success: function (data) {
                    self.getOpop();

                    console.log(data);
                    //alert('Сохранено!');

                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        };
        addOpop(){
            console.log('json-adding->',JSON.stringify({

token: store.token,
profile: store.selectedProfile.OID,
eform: $("#addOpopEform").val(),
description: $("#addOpopDescription").val(),
ver: $("#addOpopVer").val(),
}));
            $.ajax({
                method: "POST",
                url: ServerName + "admin/opop/insert",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({

                    token: store.token,
                    profile: store.selectedProfile.OID,
                    eform: $("#addOpopEform").val(),
                    description: $("#addOpopDescription").val(),
                    ver: +$("#addOpopVer").val(),
                }),
                success: function (data) {
                    console.log(data);
                    self.getOpop();
                    //alert('Сохранено!');

                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        };

        // клики по строкам
        clickRowOpop(e){
            console.log(e.item.item);
            var tmp = e.item.item;
            store.selectedOpopAdmin = tmp;
            $("#editOpopEform").val(tmp.EFORM);
            $("#editOpopDescription").val(tmp.DESCRIPTION);
            $("#editOpopVer").val(tmp.VER);
            //addOpopTrain "addOpopEform "addOpopDescription""addOpopVer"
            /*
            eform: $("#editOpopTrain").val(),
                    description: $("#editOpopEform ").val(),
                    ver: $("#editOpopDescription").val(),
                    ver: $("#editOpopVer").val(),
            */
        };

        getOpop(){
            store.adminOpop = [];
            $.ajax({
                method: "POST",
                url: ServerName + "opop",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token, profile: store.selectedProfile.OID }),
                success: function (data) {
                    console.log(data);

                    store.adminOpop = data;
                    //console.log('store.fgos->',store.adminFgos);
                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        };
        getEform(){
            store.adminEform = [];
            $.ajax({
                method: "POST",
                url: ServerName + "eform",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token, profile: store.selectedProfile.OID }),
                success: function (data) {
                    console.log('eform->', data);

                    store.adminEform = data;
                    //console.log('store.fgos->',store.adminFgos);
                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        }

    </script>
</adminOpop>