<adminTg>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Панель администратора</a>
            <div>
                
                <button type="button" class="btn btn-primary" onclick={goBack}>Выйти</button>
            </div>
        </nav>

        <!--TABS-->
        <ul class="nav nav-pills" style="margin: 0px 20px;">
            <li class="nav-item" onclick={clickTab}>
                <a if={tabActive==1} class="nav-link border-tab-custom active" id="1" href="#">ФГОС</a>
                <a if={tabActive!=1} class="nav-link border-tab-custom " id="1" href="#">ФГОС</a>
            </li>
            <li class="nav-item" onclick={clickTab}>
                <a if={tabActive==2} class="nav-link border-tab-custom active" id="2" href="#">Профили подготовки</a>
                <a if={tabActive!=2} class="nav-link border-tab-custom" id="2" href="#">Профили подготовки</a>
            </li>
        </ul>
        <!--TAB CONTENT 1-->
        <table class="table table-hover" if={tabActive==1}>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Код</th>
                    <th scope="col">Название</th>
                    <th scope="col">Квалификация</th>
                </tr>
            </thead>
            <tbody>
                <tr each="{item, index in store.adminFgos}" data-target="#EditFgosModale" data-toggle="modal" onclick={clickRowFgos}>
                    <th scope="row">{index+1}</th>
                    <td>{item.CODE}</td>
                    <td>{item.NAME}</td>
                    <td>{item.QUALIFICATION}</td>
                 
                </tr>
                <tr>
                    <th scope="row">
                        <button id="btnGroupDrop1" data-target="#AddFgosModale" data-toggle="modal" type="button" class="btn btn-primary  plan-card button-study-plan"
                            aria-haspopup="true" aria-expanded="false">
                            +
                        </button>
                    </th>
                    <td></td>

                </tr>
            </tbody>
        </table>

        <!--TAB CONTENT 3-->

        <table class="table table-hover" if={tabActive==2}>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">CHAIR</th>
                    <th scope="col">CHAIRMAN</th>
                    <th scope="col">FGOS</th>
                    <th scope="col">PROFILENAME</th>
                    <th scope="col">PROFILEVER</th>
                    <th scope="col">PROGRAMTYPE</th>
                </tr>
            </thead>
            <tbody>
                <tr each="{item, index in store.adminProfiles}" data-target="#EditProfileModale" data-toggle="modal" onclick={clickRowProfile}>
                    <th scope="row">{index+1}</th>
                    <td>{item.CHAIR}</td>
                    <td>{item.CHAIRMAN}</td>
                    <td>{item.FGOS}</td>
                    <td>{item.PROFILENAME}</td>
                    <td>{item.PROFILEVER}</td>
                    <td>{item.PROGRAMTYPE}</td>
                   
                </tr>
                <tr>
                    <th scope="row">
                        <button id="btnGroupDrop1" data-target="#AddProfileModale" data-toggle="modal" type="button" class="btn btn-primary  plan-card button-study-plan"
                            aria-haspopup="true" aria-expanded="false">
                            +
                        </button>
                    </th>
                    <td></td>

                </tr>
            </tbody>
        </table>

    </div>

    <div class="modal fade" id="AddFgosModale" tabindex="-1" role="dialog" aria-labelledby="AddFgosModale" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить ФГОС</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="competentTitleEdit">Код ФГОС</label>
                            <input type="text" class="form-control" id="addFgosCode" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">Название ФГОС</label>
                            <input type="text" class="form-control" id="addFgosName" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">Квалификация ФГОС</label>
                            <input type="text" class="form-control" id="addFgosQualification" aria-describedby="emailHelp">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{clickAdd}">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditFgosModale" tabindex="-1" role="dialog" aria-labelledby="EditFgosModale" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование ФГОС</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="competentTitleEdit">Код ФГОС</label>
                            <input type="text" class="form-control" id="editFgosCode" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">Название ФГОС</label>
                            <input type="text" class="form-control" id="editFgosName" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">Квалификация ФГОС</label>
                            <input type="text" class="form-control" id="editFgosQualification" aria-describedby="emailHelp">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="{clickDelete}">Удалить</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{clickSave}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <!--PROFILE MODALS-->
    <div class="modal fade" id="AddProfileModale" tabindex="-1" role="dialog" aria-labelledby="AddProfileModale" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить профиль подготовки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-group">
                            <label for="competentTitleEdit">CHAIR</label>
                            <input type="text" class="form-control" id="addProfileChair" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">CHAIRMAN</label>
                            <input type="text" class="form-control" id="addProfileChairman" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">FGOS</label>
                            <input type="text" class="form-control" id="addProfileFgos" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">PROFILENAME</label>
                            <input type="text" class="form-control" id="addProfileName" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">PROFILEVER</label>
                            <input type="text" class="form-control" id="addProfileVer" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">PROGRAMTYPE</label>
                            <input type="text" class="form-control" id="addProfileType" aria-describedby="emailHelp">
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{addProfile}">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditProfileModale" tabindex="-1" role="dialog" aria-labelledby="EditProfileModale" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование профиля подготовки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="competentTitleEdit">CHAIR</label>
                            <input type="text" class="form-control" id="editProfileChair" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">CHAIRMAN</label>
                            <input type="text" class="form-control" id="editProfileChairman" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">FGOS</label>
                            <input type="text" class="form-control" id="editProfileFgos" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">PROFILENAME</label>
                            <input type="text" class="form-control" id="editProfileName" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">PROFILEVER</label>
                            <input type="text" class="form-control" id="editProfileVer" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="competentTitleEdit">PROGRAMTYPE</label>
                            <input type="text" class="form-control" id="editProfileType" aria-describedby="emailHelp">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="{deleteProfile}">Удалить</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{goToOpop}">ОПОП</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{saveProfile}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        var self = this;
        self.tabActive = 1;
        this.on("mount", function () {

            self.getFgos();
            self.getStudyProfiles();
            self.update();
        });


        //работа с profile
        goToOpop(){
            console.log(store.selectedProfile.OID);
            
            self.unmount(true);
            riot.mount("adminOpop");
        };
        goBack(){
            if (confirm("Вы хотите выйти из профиля?")) {
                deleteCookie("token");
                store = {};
                self.unmount(true);
                riot.mount("auth");
                $('.is-active').removeClass('is-active');

            }
        }
        deleteProfile(){
            $.ajax({
                method: "POST",
                url: ServerName + "admin/profile/delete",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({
                    oid: store.selectedProfile.OID,
                    token: store.token,
                }),
                success: function (data) {
                    self.getStudyProfiles();

                    //alert('Сохранено!');

                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        };
        saveProfile(){


            $.ajax({
                method: "POST",
                url: ServerName + "admin/profile/update",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({
                    oid: store.selectedProfile.OID,
                    token: store.token,
                    chair: $("#editProfileChair").val(),
                    chairman: $("#editProfileChairman").val(),
                    fgos: $("#editProfileFgos").val(),
                    profilename: $("#editProfileName").val(),
                    profilever: $("#editProfileVer").val(),
                    programtype: $("#editProfileType").val(),
                }),
                success: function (data) {
                    self.getStudyProfiles();
                    console.log(data);
                    //alert('Сохранено!');

                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        };
        addProfile(){
            console.log(JSON.stringify({

                token: store.token,
                chair: $("#addProfileChair").val(),
                chairman: $("#addProfileChairman").val(),
                fgos: $("#addProfileFgos").val(),
                profilename: $("#addProfileName").val(),
                profilever: $("#addProfileVer").val(),
                programtype: $("#addProfileType").val(),
            }));
            $.ajax({
                method: "POST",
                url: ServerName + "admin/profile/insert",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({

                    token: store.token,
                    chair: $("#addProfileChair").val(),
                    chairman: $("#editProfileChairman").val(),
                    fgos: $("#addProfileFgos").val(),
                    profilename: $("#addProfileName").val(),
                    profileever: $("#addProfileVer").val(),
                    programtype: $("#addProfileType").val(),
                }),
                success: function (data) {
                    console.log(data);
                    self.getStudyProfiles();

                    //alert('Сохранено!');

                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        };
        //работа с fgos//
        clickAdd(){


            var code = $("#addFgosCode").val();
            var name = $("#addFgosName").val();
            var qual = $("#addFgosQualification").val();

            $.ajax({
                method: "POST",
                url: ServerName + "admin/fgos/insert",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({
                    token: store.token,
                    code: code,
                    name: name,
                    qualification: qual,
                }),
                success: function (data) {
                    self.getFgos();
                    alert('Добавлено!');

                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });

            ///admin/fgos/insert
        };
        clickDelete(){

            $.ajax({
                method: "POST",
                url: ServerName + "admin/fgos/delete",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({
                    oid: store.selectedFgos.OID,
                    token: store.token,
                }),
                success: function (data) {
                    self.getFgos();
                    //alert('Удалено!');

                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        };
        clickSave(){
            //admin/fgos/update
            var code = $("#editFgosCode").val();
            var name = $("#editFgosName").val();
            var qual = $("#editFgosQualification").val();

            $.ajax({
                method: "POST",
                url: ServerName + "admin/fgos/update",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({
                    oid: store.selectedFgos.OID,
                    token: store.token,
                    code: code,
                    name: name,
                    qualification: qual,
                }),
                success: function (data) {
                    self.getFgos();

                    //alert('Сохранено!');

                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });



        };
        //метод для работы табов
        clickTab(e){

            self.tabActive = e.target.id;
            console.log(self.tabActive);
            self.update();
        };
        // клики по строкам
        clickRowFgos(e){
            console.log(e.item.item);
            var tmp = e.item.item;
            store.selectedFgos = tmp;
            $("#editFgosCode").val(tmp.CODE);
            $("#editFgosName").val(tmp.NAME);
            $("#editFgosQualification").val(tmp.QUALIFICATION);
        };
        clickRowProfile(e){
            console.log(e.item.item);
            var tmp = e.item.item;
            store.selectedProfile = tmp;
            $("#editProfileChair").val(tmp.CHAIR);
            $("#editProfileChairman").val(tmp.CHAIRMAN);
            $("#editProfileFgos").val(tmp.FGOS);
            $("#editProfileName").val(tmp.PROFILENAME);
            $("#editProfileVer").val(tmp.PROFILEVER);
            $("#editProfileType").val(tmp.PROGRAMTYPE);
        };
        //методы для получения данных по каждой таблице
        getFgos(){
            $.ajax({
                method: "POST",
                url: ServerName + "fgos",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token }),
                success: function (data) {
                    console.log(data);
                    store.adminFgos = data;
                    //console.log('store.fgos->',store.adminFgos);
                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        };
        getStudyProfiles(){
            $.ajax({
                method: "POST",
                url: ServerName + "profile",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token }),
                success: function (data) {
                    console.log(data);
                    store.adminProfiles = data;
                    //console.log('store.fgos->',store.adminFgos);
                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        };

    </script>
</adminTg>