<auth>
    <div class="content">
        <div class="auth-text">Авторизируйтесь для использования системы</div>
        <div class="auth-admin-form">
            <input type="email" placeholder="Логин" id="admin-login">
            <input type="password" placeholder="Пароль" id="admin-pass">
            <a href="#" id="authButton" class="auth-button " onclick={login}>Войти</a>
        </div>
    </div>

    <script>

        var self = this;


        login(){
            let email = $("#admin-login").val();
            let pass = $("#admin-pass").val();
            let data = { login: email, password: md5(pass) };
            if (email && pass) {
                $.ajax({
                    method: "POST",
                    url: ServerName + "auth",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    dataType: 'json',
                    data: JSON.stringify(data),
                    success: function (data) {
                        setCookie("token", data.token);
                        store.token = data.token;
                        self.goToPage();
                        console.log(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            } else {
                alert("Введите имя пользователя и пароль.");
            }
        }
        
        goToPage(){
            self.unmount(true);
            riot.mount("adminTg");
            $('.is-active').removeClass('is-active');
        }


    </script>
</auth>