<calendarTag>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Календарный график</a>
            <div>
                <button type="button" class="btn btn-primary" onclick={save}>Сохранить</button>
                <button type="button" class="btn btn-primary" onclick={goBack}>Назад</button>
            </div>
        </nav>
        <input type="text" class="form-control tableHeader" id="calendarHeader" value="КАЛЕНДАРНЫЙ ПЛАН" placeholder="Введите название календарного плана">
        <div class="plan-container matrix">
            <table class="table table-bordered table-hover plan-table calendar">
                <thead>
                    <tr id="plan-calendar-headtable">
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>

                    <tr if={calendar.course1}>
                        <th scope="row">
                            <button type="button" class="btn btn-primary  plan-add-button" id="course1" onclick="{clickAddSubjectIndex}" data-toggle="modal"
                                data-target="#addModal">+</button>
                        </th>
                        <td each="{item, index in calendar.course1}" id="row_course1">
                            <button id={index} type="button" class="btn btn-success  plan-card-little" style={ 'background-color:' + getColor(item.TYPE)
                                + ";'"} data-s="{1}" onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2" if={getType(item)==1}>
                                {getName(item.TYPE)}
                            </button>
                            <div data-s="{0}" id="{index}" if={getType(item)==0 } onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2"
                                class="btn-group-vertical seg7">
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_MON) + ";'"}>
                                    {getName(item.TYPE_MON)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_TUE) + ";'"}>
                                    {getName(item.TYPE_TUE)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_WED) + ";'"}>
                                    {getName(item.TYPE_WED)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_THU) + ";'"}>
                                    {getName(item.TYPE_THU)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_FRI) + ";'"}>
                                    {getName(item.TYPE_FRI)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_SAT) + ";'"}>
                                    {getName(item.TYPE_SAT)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_SUN) + ";'"}>
                                    {getName(item.TYPE_SUN)}
                                </button>


                            </div>
                        </td>
                    </tr>
                    <tr if={calendar.course2}>
                        <th scope="row">
                            <button type="button" class="btn btn-primary  plan-add-button" id="course2" onclick="{clickAddSubjectIndex}" data-toggle="modal"
                                data-target="#addModal">+</button>
                        </th>
                        <td each="{item, index in calendar.course2}" id="row_course2">
                            <button id={index} type="button" class="btn btn-success  plan-card-little" style={ 'background-color:' + getColor(item.TYPE)
                                + ";'"} data-s="{1}" onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2" if={getType(item)==1}>
                                {getName(item.TYPE)}
                            </button>
                            <div data-s="{0}" id="{index}" if={getType(item)==0 } onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2"
                                class="btn-group-vertical seg7">
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_MON) + ";'"}>
                                    {getName(item.TYPE_MON)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_TUE) + ";'"}>
                                    {getName(item.TYPE_TUE)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_WED) + ";'"}>
                                    {getName(item.TYPE_WED)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_THU) + ";'"}>
                                    {getName(item.TYPE_THU)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_FRI) + ";'"}>
                                    {getName(item.TYPE_FRI)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_SAT) + ";'"}>
                                    {getName(item.TYPE_SAT)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_SUN) + ";'"}>
                                    {getName(item.TYPE_SUN)}
                                </button>
                        </td>
                    </tr>
                    <tr if={calendar.course3}>
                        <th scope="row">
                            <button type="button" class="btn btn-primary  plan-add-button" id="course3" onclick="{clickAddSubjectIndex}" data-toggle="modal"
                                data-target="#addModal">+</button>
                        </th>
                        <td each="{item, index in calendar.course3}" id="row_course3">
                            <button id={index} type="button" class="btn btn-success  plan-card-little" style={ 'background-color:' + getColor(item.TYPE)
                            + ";'"} data-s="{1}" onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2" if={getType(item)==1}>
                            {getName(item.TYPE)}
                        </button>
                        <div data-s="{0}" id="{index}" if={getType(item)==0 } onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2"
                            class="btn-group-vertical seg7">
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_MON) + ";'"}>
                                {getName(item.TYPE_MON)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_TUE) + ";'"}>
                                {getName(item.TYPE_TUE)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_WED) + ";'"}>
                                {getName(item.TYPE_WED)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_THU) + ";'"}>
                                {getName(item.TYPE_THU)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_FRI) + ";'"}>
                                {getName(item.TYPE_FRI)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_SAT) + ";'"}>
                                {getName(item.TYPE_SAT)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_SUN) + ";'"}>
                                {getName(item.TYPE_SUN)}
                            </button>
                        </td>
                    </tr>
                    <tr if={calendar.course4}>
                        <th scope="row">
                            <button type="button" class="btn btn-primary  plan-add-button" id="course4" onclick="{clickAddSubjectIndex}" data-toggle="modal"
                                data-target="#addModal">+</button>
                        </th>
                        <td each="{item, index in calendar.course4}" id="row_course4">
                            <button id={index} type="button" class="btn btn-success  plan-card-little" style={ 'background-color:' + getColor(item.TYPE)
                                + ";'"} data-s="{1}" onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2" if={getType(item)==1}>
                                {getName(item.TYPE)}
                            </button>
                            <div data-s="{0}" id="{index}" if={getType(item)==0 } onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2"
                                class="btn-group-vertical seg7">
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_MON) + ";'"}>
                                    {getName(item.TYPE_MON)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_TUE) + ";'"}>
                                    {getName(item.TYPE_TUE)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_WED) + ";'"}>
                                    {getName(item.TYPE_WED)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_THU) + ";'"}>
                                    {getName(item.TYPE_THU)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_FRI) + ";'"}>
                                    {getName(item.TYPE_FRI)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_SAT) + ";'"}>
                                    {getName(item.TYPE_SAT)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_SUN) + ";'"}>
                                    {getName(item.TYPE_SUN)}
                                </button>
                        </td>
                    </tr>
                    <tr if={calendar.course5}>
                        <th scope="row">
                            <button type="button" class="btn btn-primary  plan-add-button" id="course5" onclick="{clickAddSubjectIndex}" data-toggle="modal"
                                data-target="#addModal">+</button>
                        </th>
                        <td each="{item, index in calendar.course5}" id="row_course5">
                            <button id={index} type="button" class="btn btn-success  plan-card-little" style={ 'background-color:' + getColor(item.TYPE)
                                + ";'"} data-s="{1}" onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2" if={getType(item)==1}>
                                {getName(item.TYPE)}
                            </button>
                            <div data-s="{0}" id="{index}" if={getType(item)==0 } onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2"
                                class="btn-group-vertical seg7">
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_MON) + ";'"}>
                                    {getName(item.TYPE_MON)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_TUE) + ";'"}>
                                    {getName(item.TYPE_TUE)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_WED) + ";'"}>
                                    {getName(item.TYPE_WED)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_THU) + ";'"}>
                                    {getName(item.TYPE_THU)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_FRI) + ";'"}>
                                    {getName(item.TYPE_FRI)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_SAT) + ";'"}>
                                    {getName(item.TYPE_SAT)}
                                </button>
                                <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                    style={ 'background:' + getColor(item.TYPE_SUN) + ";'"}>
                                    {getName(item.TYPE_SUN)}
                                </button>
                        </td>
                    </tr>
                    <tr if={calendar.course6}>
                        <th scope="row">
                            <button type="button" class="btn btn-primary  plan-add-button" id="course6" onclick="{clickAddSubjectIndex}" data-toggle="modal"
                                data-target="#addModal">+</button>
                        </th>
                        <td each="{item, index in calendar.course6}" id="row_course6">
                            <button id={index} type="button" class="btn btn-success  plan-card-little" style={ 'background-color:' + getColor(item.TYPE)
                            + ";'"} data-s="{1}" onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2" if={getType(item)==1}>
                            {getName(item.TYPE)}
                        </button>
                        <div data-s="{0}" id="{index}" if={getType(item)==0 } onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2"
                            class="btn-group-vertical seg7">
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_MON) + ";'"}>
                                {getName(item.TYPE_MON)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_TUE) + ";'"}>
                                {getName(item.TYPE_TUE)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_WED) + ";'"}>
                                {getName(item.TYPE_WED)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_THU) + ";'"}>
                                {getName(item.TYPE_THU)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_FRI) + ";'"}>
                                {getName(item.TYPE_FRI)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_SAT) + ";'"}>
                                {getName(item.TYPE_SAT)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_SUN) + ";'"}>
                                {getName(item.TYPE_SUN)}
                            </button>
                        </td>
                    </tr>
                    <tr if={calendar.course7}>
                        <th scope="row">
                            <button type="button" class="btn btn-primary  plan-add-button" id="course7" onclick="{clickAddSubjectIndex}" data-toggle="modal"
                                data-target="#addModal">+</button>
                        </th>
                        <td each="{item, index in calendar.course7}" id="row_course7">
                            <button id={index} type="button" class="btn btn-success  plan-card-little" style={ 'background-color:' + getColor(item.TYPE)
                            + ";'"} data-s="{1}" onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2" if={getType(item)==1}>
                            {getName(item.TYPE)}
                        </button>
                        <div data-s="{0}" id="{index}" if={getType(item)==0 } onclick="{clickEdit}" data-toggle="modal" data-target="#exampleModal2"
                            class="btn-group-vertical seg7">
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_MON) + ";'"}>
                                {getName(item.TYPE_MON)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_TUE) + ";'"}>
                                {getName(item.TYPE_TUE)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_WED) + ";'"}>
                                {getName(item.TYPE_WED)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_THU) + ";'"}>
                                {getName(item.TYPE_THU)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_FRI) + ";'"}>
                                {getName(item.TYPE_FRI)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_SAT) + ";'"}>
                                {getName(item.TYPE_SAT)}
                            </button>
                            <button type="button" id="{index}" class="btn btn-success  plan-card-little" data-s="{1}" data-toggle="modal" data-target="#exampleModal2"
                                style={ 'background:' + getColor(item.TYPE_SUN) + ";'"}>
                                {getName(item.TYPE_SUN)}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Окно добавления предмета !-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выберите количество недель и тип обучения</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Кол-во недель</label>
                            <input type="number" value="1" class="form-control" id="weekCount" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Вид обучения</label>
                            <select class="form-control" id="selectPlanCal">

                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{clickAdd}">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:600px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование недели</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-2col">
                        <div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Тип недели</label>
                                <select class="form-control" id="calendarType">

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Понедельник</label>
                                <select class="form-control" id="calendarMonday">

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Вторник</label>
                                <select class="form-control" id="calendarTuesday">

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Среда</label>
                                <select class="form-control" id="calendarWednesday">

                                </select>
                            </div>
                        </div>
                        <div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Четверг</label>
                                <select class="form-control" id="calendarThursday">

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Пятница</label>
                                <select class="form-control" id="calendarFriday">

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Суббота</label>
                                <select class="form-control" id="calendarSaturday">

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Воскресенье</label>
                                <select class="form-control" id="calendarSunday">

                                </select>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick={delCel} data-dismiss="modal">Удалить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" onclick={saveChange} data-dismiss="modal">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        this.calendar = store.calendar;

        this.selectRow;

        this.selectedR;
        this.selectCel;

        var self = this;
        this.on('mount', function () {
            for (let i = 1; i < 53; i++) {
                $('#plan-calendar-headtable').append('<td>' + i + '</td>');
            }
            for (let i = 0; i < store.calendarType.length; i++) {
                $("#selectPlanCal").append("<option value=" + store.calendarType[i].CODE + ">" + store.calendarType[i].NAME + "</option>");
                $("#calendarType").append("<option value=" + store.calendarType[i].CODE + ">" + store.calendarType[i].NAME + "</option>");
                $("#calendarMonday").append("<option value=" + store.calendarType[i].CODE + ">" + store.calendarType[i].NAME + "</option>");
                $("#calendarTuesday").append("<option value=" + store.calendarType[i].CODE + ">" + store.calendarType[i].NAME + "</option>");
                $("#calendarWednesday").append("<option value=" + store.calendarType[i].CODE + ">" + store.calendarType[i].NAME + "</option>");
                $("#calendarThursday").append("<option value=" + store.calendarType[i].CODE + ">" + store.calendarType[i].NAME + "</option>");
                $("#calendarFriday").append("<option value=" + store.calendarType[i].CODE + ">" + store.calendarType[i].NAME + "</option>");
                $("#calendarSaturday").append("<option value=" + store.calendarType[i].CODE + ">" + store.calendarType[i].NAME + "</option>");
                $("#calendarSunday").append("<option value=" + store.calendarType[i].CODE + ">" + store.calendarType[i].NAME + "</option>");

            }
            

        });
        clickAddSubjectIndex(e) {
            console.log(e.target.id);
            self.selectRow = e.target.id;
        };

        getName(id){
            switch (id) {
                case "0":
                    return "Т";

                case "1":
                    return "Д";

                case "2":
                    return "Э";

                case "3":
                    return "К";

                case "4":
                    return "А";

                case "5":
                    return "Г";

                case "6":
                    return "У";

                case "7":
                    return "П";

                case "8":
                    return "Р";

                case "9":
                    return "З";

            }
        }

        getColor(id){
            for (let i = 0; i < store.calendarType.length; i++) {
                if (id == store.calendarType[i].CODE) {
                    return store.calendarType[i].COLOR;
                }

            }
        }
        getSemestr(week, course){
            switch (course) {
                case "course1":
                    if (week < 23) {
                        return "1";
                    } else {
                        return "2";
                    }
                case "course2":
                    if (week < 23) {
                        return "3";
                    } else {
                        return "4";
                    }
                case "course3":
                    if (week < 23) {
                        return "5";
                    } else {
                        return "6";
                    }
                case "course4":
                    if (week < 23) {
                        return "7";
                    } else {
                        return "8";
                    }
                case "course5":
                    if (week < 23) {
                        return "9";
                    } else {
                        return "10";
                    }
                case "course6":
                    if (week < 23) {
                        return "11";
                    } else {
                        return "12";
                    }
                case "course7":
                    if (week < 23) {
                        return "13";
                    } else {
                        return "14";
                    }
            }
        }

        clickAdd(){
            var count = $("#weekCount").val();
            var type = $("#selectPlanCal").val();
            for (let i = 0; i < +count; i++) {
                var temp = {
                    OID: null,
                    WEEK_NUM: self.calendar[self.selectRow].length + 1,
                    TYPE: type,
                    TYPE_MON: type,
                    TYPE_TUE: type,
                    TYPE_WED: type,
                    TYPE_THU: type,
                    TYPE_FRI: type,
                    TYPE_SAT: type,
                    TYPE_SUN: type,
                    SEMESTER: self.getSemestr(self.calendar[self.selectRow].length + 1, self.selectRow)
                };
                self.calendar[self.selectRow].push(temp);
            }
            console.log(self.calendar);
            var count = $("#weekCount").val("");
            self.update();
        }


        clickEdit(e){
            console.log(e);
            let check = self.getType(e.item.item);
            let tmp;
            if (check == 1) {
                tmp = e.path[1].id.split("_")[1]
            } else if (check == 0) {
                tmp = e.path[2].id.split("_")[1]
            }

            self.selectedR = tmp;
            self.selectCel = e.target.id;
            $("#calendarType").val(e.item.item.TYPE);
            $("#calendarMonday").val(e.item.item.TYPE_MON);
            $("#calendarTuesday").val(e.item.item.TYPE_TUE);
            $("#calendarWednesday").val(e.item.item.TYPE_WED);
            $("#calendarThursday").val(e.item.item.TYPE_THU);
            $("#calendarFriday").val(e.item.item.TYPE_FRI);
            $("#calendarSaturday").val(e.item.item.TYPE_SAT);
            $("#calendarSunday").val(e.item.item.TYPE_SUN);
        }


        save(){
            var weeks = [];
            for (let key in self.calendar) {
                for (let i = 0; i < self.calendar[key].length; i++) {
                    weeks.push(self.calendar[key][i]);
                }
            }
            console.log(weeks);
            $.ajax({
                method: "POST",
                url: ServerName + "calendar/set",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token, opop: store.selectedOpop, weeks: weeks }),
                success: function (data) {
                    alert("Изменения сохранены.");

                },
                error: function (err) {
                    console.log(err);
                }
            });
            
        }




        $(document).on('change', '#calendarType', function (e) {
            $("#calendarMonday").val(e.target.value);
            $("#calendarTuesday").val(e.target.value);
            $("#calendarWednesday").val(e.target.value);
            $("#calendarThursday").val(e.target.value);
            $("#calendarFriday").val(e.target.value);
            $("#calendarSaturday").val(e.target.value);
            $("#calendarSunday").val(e.target.value);
        });


        delCel(){
            console.log(self.calendar[self.selectedR]);
            console.log(self.selectCel);
            if (confirm("Вы хотите удалить неделю?")) {
                self.calendar[self.selectedR].splice(self.selectCel, 1);
            }
            self.update();
        }



        saveChange(){
            console.log(self.calendar[self.selectedR]);
            console.log(self.calendar[self.selectedR][self.selectCel]);
            self.calendar[self.selectedR][self.selectCel].TYPE = $("#calendarType").val();
            self.calendar[self.selectedR][self.selectCel].TYPE_MON = $("#calendarMonday").val();
            self.calendar[self.selectedR][self.selectCel].TYPE_TUE = $("#calendarTuesday").val();
            self.calendar[self.selectedR][self.selectCel].TYPE_WED = $("#calendarWednesday").val();
            self.calendar[self.selectedR][self.selectCel].TYPE_THU = $("#calendarThursday").val();
            self.calendar[self.selectedR][self.selectCel].TYPE_FRI = $("#calendarFriday").val();
            self.calendar[self.selectedR][self.selectCel].TYPE_SAT = $("#calendarSaturday").val();
            self.calendar[self.selectedR][self.selectCel].TYPE_SUN = $("#calendarSunday").val();
            console.log(self.calendar);
            self.update();
        }


        getType(item){
            
            if (item.TYPE_MON != item.TYPE || item.TYPE_TUE != item.TYPE || item.TYPE_WED != item.TYPE || item.TYPE_THU != item.TYPE || item.TYPE_FRI != item.TYPE || item.TYPE_SAT != item.TYPE) {
                return 0;
            } else {
                return 1;
            }
        }
        goBack(){
            self.unmount(true);
            riot.mount("selectedProfile");

            $('.is-active').removeClass('is-active');
        }

    </script>
</calendarTag>