<competentPage>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Список компетенций</a>
        <div>
            <button type="button" class="btn btn-primary" onclick={goBack}>Сохранить</button>
            <button type="button" class="btn btn-primary" onclick={goBack}>Назад</button>
        </div>
    </nav>
    <div class="plan-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Содержание</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary  plan-add-button" data-toggle="modal" data-target="#addCompetent">Добавить компетенцию</button>
                    </td>
                </tr>
                <tr each={item, index in complist}>
                    <td>{item.NAME}</td>
                    <td>{item.VALUE}</td>
                    <td>
                        <button type="button" class="btn btn-primary  plan-add-button" data-toggle="modal" data-target="#editCompetent">Редактировать</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="modal fade" id="addCompetent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Введите название и содержание комепетенции</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="competentTitle">Наименование компетенции</label>
                            <input type="text" class="form-control" id="competentTitle" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="comptetentText">Содержание компетенции</label>
                            <textarea class="form-control" id="comptetentText" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{clickAdd}">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editCompetent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование компетенции</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="competentTitleEdit">Наименование компетенции</label>
                            <input type="text" class="form-control" id="competentTitleEdit" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="comptetentTextEdit">Содержание компетенции</label>
                            <textarea class="form-control" id="comptetentTextEdit" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="{clickAdd}">Удалить</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{clickAdd}">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        this.complist = store.competentList;
        var self = this;
        goBack(){
            self.unmount(true);
            riot.mount("selectedProfile");
            $('.is-active').removeClass('is-active');
        }
    </script>
</competentPage>