<profilePage>
    <div class="jumbotron jumbotron-fluid white-t" style="background:url('img/back.jpg')">
        <div class="container">
            <div class="plan-jub-but">
                <button type="button" id={index} class="btn btn-primary" onclick={goBack}>Назад</button>
            </div>
            <h1 class="display-4">Профиль</h1>
            <p class="lead" style="font: 300 17px/15px Roboto;">Профиль пользователя</p>
        </div>
    </div>
    <div class="page-content profile">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="left">ФИО:</div>
                <div class="right">{user.NAME}</div>
            </li>
            <li class="list-group-item">
                    <div class="left">Email:</div>
                    <div class="right">{user.MAIL ? user.MAIL : "Не указано"}</div>
                </li>
            <li class="list-group-item">
                <div class="left">Кафедра:</div>
                <div class="right">Автоматизированных систем управления</div>
            </li>
        </ul>
    </div>

    <script>
        this.user = {};

        var self = this;

        this.on("mount", function(){
            $.ajax({
                    method: "POST",
                    url: ServerName + "info",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    dataType: 'json',
                    data: JSON.stringify({token: store.token}),
                    success: function (data) {
                        console.log(data);
                        self.user = data;
                        self.update();
                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
        });

        goBack(){
            self.unmount(true);
            riot.mount("selectedProfile");
            $('.is-active').removeClass('is-active');
        }
    </script>
</profilePage>