<selectedProfile>
    <div class="jumbotron jumbotron-fluid white-t" style="background:url('img/back.jpg')">
        <div class="container">
            <div class="plan-jub-but">
                <button type="button" id={index} class="btn btn-primary" onclick={goToProfile}>Профиль</button>
                <button type="button" id={index} class="btn btn-primary" onclick={logout}>Выйти из профиля</button>
            </div>
            <h1 class="display-4">Конструктор учебных планов</h1>
            <p class="lead" style="font: 300 17px/15px Roboto;">Выберите профиль подготовки, продолжительность обучения или учебный план.</p>
        </div>
    </div>
    <div class="page-content">
        <div class="page-block">
            <div class="select-block 1">
                <div class="form-group">
                    <label for="profile_select">Профили подготовки</label>
                    <select class="form-control" id="profile_select" value={profile}>
                        <option value="0" selected>Выберите профиль подготовки</option>
                    </select>
                </div>
                <button type="button" class="btn lstu btn-primary" data-toggle="modal" data-target="#matrixModalOpen" disabled id="go_to_matrix"
                    onclick={getMatrix}>Перейти к матрицам компетенции</button>
                <button type="button" class="btn lstu btn-primary" onclick={goCompPage} disabled id="go_to_comp">Перейти к компетенциям</button>
            </div>
            <div class="select-block 2">
                <div class="form-group">
                    <label for="opop_select">ОПОП</label>
                    <select class="form-control" value={opop} id="opop_select" disabled>
                        <option value="0" selected>Выберите ОПОП</option>

                    </select>
                </div>
                <button type="button" class="btn lstu btn-primary" id="go_to_calendar" disabled>Перейти к календарному графику</button>
            </div>
            <div class="select-block 3">
                <div class="form-group">
                    <label for="study_plan_select">Учебные планы</label>
                    <select class="form-control" id="study_plan_select" disabled>
                        <option value="0" selected>Выберите учебный план</option>
                    </select>
                </div>
                <button type="button" class="btn lstu btn-primary" disabled data-toggle="modal" data-target="#addStudyModal" id="addStudyPlanButton">Добавить</button>
                <button type="button" class="btn lstu btn-primary" disabled data-toggle="modal" data-target="#changeStudyModal" id="changeStudyPlanButton">Изменить</button>
                <button type="button" class="btn lstu btn-primary" disabled onclick={delStudyPlan} id="delStudyPlan">Удалить</button>
                <button type="button" class="btn lstu btn-primary" disabled onclick={changeStudyPlan} id="changeStudyPlan">Перейти к учебному плану</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="calendarModalOpen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выберите календарный план</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <select multiple class="form-control" id="exampleFormControlSelect2">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn lstu modal_button btn-primary" data-dismiss="modal" onclick={goToAdd}>Добавить</button>
                    <button type="button" class="btn lstu modal_button btn-primary" data-dismiss="modal" onclick={goToAdd}>Изменить</button>
                    <button type="button" class="btn lstu modal_button btn-primary" onclick={deleteCalendar}>Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="matrixModalOpen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выберите матрицу компетенций</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <select class="form-control" id="matrix_select">
                            <option value="0" selected>Матрица не выбрана</option>
                        </select>
                    </div>
                    <div class="main-matrix">{"Основная матрица: " + getMainMatrix()}</div>
                </div>
                <div class="modal-footer" style="display: block;">
                    <button type="button" class="btn lstu modal_button btn-primary" data-dismiss="modal" onclick={selectMain}>Выбрать как основную</button>
                    <button type="button" class="btn lstu modal_button btn-primary" data-toggle="modal" data-target="#addNewMatrix" data-dismiss="modal">Добавить</button>
                    <button type="button" class="btn lstu modal_button btn-primary" data-dismiss="modal" onclick={goToMatrix}>Изменить</button>
                    <button type="button" class="btn lstu modal_button btn-primary" onclick={delMatrix}>Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addNewMatrix" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить матрицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Введите описание матрицы</label>
                            <textarea class="form-control" id="matrixDescription" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn lstu modal_button btn-primary" id="addMatrix" data-toggle="modal" data-target="#matrixModalOpen"
                        data-dismiss="modal">Добавить</button>
                    <button type="button" class="btn lstu modal_button btn-primary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addStudyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить учбеный план</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputtext1">speciality</label>
                        <input type="text" class="form-control" id="speciality_add" placeholder="speciality">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">code</label>
                        <input type="text" class="form-control" id="code_add" placeholder="code">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">name</label>
                        <input type="text" class="form-control" id="name_add" placeholder="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">flagbase</label>
                        <input type="text" class="form-control" id="flagbase_add" placeholder="flagbase">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">year</label>
                        <input type="text" class="form-control" id="year_add" placeholder="year">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">active</label>
                        <input type="text" class="form-control" id="active_add" placeholder="active">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">oldcode</label>
                        <input type="text" class="form-control" id="oldcode_add" placeholder="oldcode">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">subname</label>
                        <input type="text" class="form-control" id="subname_add" placeholder="subname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">comments</label>
                        <input type="text" class="form-control" id="comments_add" placeholder="comments">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">aprotocol</label>
                        <input type="text" class="form-control" id="aprotocol_add" placeholder="aprotocol">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">adate</label>
                        <input type="date" class="form-control" id="adate_add" placeholder="adate">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">n_type</label>
                        <input type="text" class="form-control" id="n_type_add" placeholder="n_type">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">g3</label>
                        <input type="text" class="form-control" id="g3_add" placeholder="g3">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">text</label>
                        <input type="text" class="form-control" id="flagvupusk_add" placeholder="flagvupusk">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn lstu modal_button btn-primary" onclick={addStudyPlan}>Добавить</button>
                    <button type="button" class="btn lstu modal_button btn-primary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="changeStudyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактировать учебный план</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputtext1">speciality</label>
                        <input type="text" class="form-control" id="speciality_edit" placeholder="speciality">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">code</label>
                        <input type="text" class="form-control" id="code_edit" placeholder="code">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">name</label>
                        <input type="text" class="form-control" id="name_edit" placeholder="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">flagbase</label>
                        <input type="text" class="form-control" id="flagbase_edit" placeholder="flagbase">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">year</label>
                        <input type="text" class="form-control" id="year_edit" placeholder="year">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">active</label>
                        <input type="text" class="form-control" id="active_edit" placeholder="active">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">oldcode</label>
                        <input type="text" class="form-control" id="oldcode_edit" placeholder="oldcode">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">subname</label>
                        <input type="text" class="form-control" id="subname_edit" placeholder="subname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">comments</label>
                        <input type="text" class="form-control" id="comments_edit" placeholder="comments">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">aprotocol</label>
                        <input type="text" class="form-control" id="aprotocol_edit" placeholder="aprotocol">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">adate</label>
                        <input type="date" class="form-control" id="adate_edit" placeholder="adate">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">n_type</label>
                        <input type="text" class="form-control" id="n_type_edit" placeholder="n_type">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">g3</label>
                        <input type="text" class="form-control" id="g3_edit" placeholder="g3">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext1">text</label>
                        <input type="text" class="form-control" id="flagvupusk_edit" placeholder="flagvupusk">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn lstu modal_button btn-primary" id="savePlan">Сохранить</button>
                    <button type="button" class="btn lstu modal_button btn-primary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        this.profile = 0;
        this.opop = 0;
        this.plan = 0;

        var self = this;


        this.on("mount", function () {
            if (localStorage.getItem("comp")) {
                store.competentList = JSON.parse(localStorage.getItem("comp"));
            }
            if (!store.educat_profile) {
                $.ajax({
                    method: "POST",
                    url: ServerName + "profile",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    dataType: 'json',
                    data: JSON.stringify({ token: store.token }),
                    success: function (data) {
                        store.educat_profile = data;
                        console.log(data);
                        for (let i = 0; i < store.educat_profile.length; i++) {
                            $("#profile_select").append("<option value=" + store.educat_profile[i].OID + ">" + store.educat_profile[i].PROFILENAME + "</option>")
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            } else {
                for (let i = 0; i < store.educat_profile.length; i++) {
                    $("#profile_select").append("<option value=" + store.educat_profile[i].OID + ">" + store.educat_profile[i].PROFILENAME + "</option>")
                }
                self.profile = store.profileSelected;
            }

            if (store.opop_profile) {
                for (let i = 0; i < store.opop_profile.length; i++) {
                    $("#opop_select").append("<option value=" + store.opop_profile[i].OID + ">" + store.opop_profile[i].DESCRIPTION + "</option>")
                }
                $("#opop_select").prop('disabled', false);
                if (store.competentList) {
                    $("#go_to_matrix").prop('disabled', false);
                    $("#go_to_comp").prop('disabled', false);
                }
                self.opop = store.selectedOpop;
            }

            if (store.plan_profile) {
                for (let i = 0; i < store.plan_profile.length; i++) {
                    $("#study_plan_select").append("<option value=" + store.plan_profile[i].OID + ">" + store.plan_profile[i].SUBNAME + "</option>")
                }
                $("#study_plan_select").prop('disabled', false);
                $("#go_to_calendar").prop('disabled', false);
                $("#addStudyPlanButton").prop('disabled', false);
                $("#changeStudyPlanButton").prop('disabled', false);
                $("#delStudyPlan").prop('disabled', false);
                $("#changeStudyPlan").prop('disabled', false);
                self.plan = store.selectedPlan;
            }
            self.update();
        });
        /*=== БЛОК УЧЕБНЫХ ПЛАНОВ ===*/
        addStudyPlan(){
            let temp = {
                token: store.token,
                opop: store.selectedOpop,
                speciality: $("#speciality_add").val(),
                code: $("#code_add").val(),
                name: $("#name_add").val(),
                flagbase: $("#flagbase_add").val(),
                year: $("#year_add").val(),
                active: $("#active_add").val(),
                oldcode: $("#oldcode_add").val(),
                subname: $("#subname_add").val(),
                comments: $("#comments_add").val(),
                aprotocol: $("#aprotocol_add").val(),
                adate: moment($("#adate_add").val()).format("DD.MM.YY"),
                n_type: $("#n_type_add").val(),
                g3: $("#g3_add").val(),
                flagvupusk: $("#flagvupusk_add").val(),
            }
            console.log(temp);
            $.ajax({
                method: "POST",
                url: ServerName + "eduplan/insert",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify(temp),
                success: function (data) {
                    console.log(data);
                    $.ajax({
                        method: "POST",
                        url: ServerName + "eduplan/list",
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        dataType: 'json',
                        data: JSON.stringify({ token: store.token, opop: store.selectedOpop }),
                        success: function (data) {
                            console.log(data);
                            store.plan_profile = data;
                            $("#study_plan_select").prop('disabled', false);
                            $("#go_to_calendar").prop('disabled', false);
                            $('#study_plan_select > option').remove();
                            for (let i = 0; i < store.plan_profile.length; i++) {
                                $("#study_plan_select").append("<option value=" + store.plan_profile[i].OID + ">" + store.plan_profile[i].SUBNAME + "</option>")
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }

                    });

                },
                error: function (err) {
                    console.log(err);
                }

            });
        }


        $(document).on('click', '#changeStudyPlanButton', function (e) {
            let val = $("#study_plan_select").val();
            let temp = {};
            for (let i = 0; i < store.plan_profile.length; i++) {
                if (val == store.plan_profile[i].OID) {
                    temp = store.plan_profile[i];
                }
            }
            console.log(temp);
            $("#speciality_edit").val(temp.SPECIALITY);
            $("#code_edit").val(temp.CODE);
            $("#name_edit").val(temp.NAME);
            $("#flagbase_edit").val(temp.FLAGBASE);
            $("#year_edit").val(temp.YEAR);
            $("#active_edit").val(temp.ACTIVE);
            $("#oldcode_edit").val(temp.OLDCODE);
            $("#subname_edit").val(temp.SUBNAME);
            $("#comments_edit").val(temp.COMMENTS);
            $("#aprotocol_edit").val(temp.APROTOCOL);
            $("#adate_edit").val(moment(temp.ADATA).format("YYYY-MM-DD"));
            $("#n_type_edit").val(temp.N_TYPE);
            $("#g3_edit").val(temp.G3);
            $("#flagvupusk_edit").val(temp.FLAGVUPUSK);
        });
        $(document).on('click', '#savePlan', function (e) {
            let temp = {
                token: store.token,
                opop: store.selectedOpop,
                plan: $("#study_plan_select").val(),
                speciality: $("#speciality_edit").val(),
                code: $("#code_edit").val(),
                name: $("#name_edit").val(),
                flagbase: $("#flagbase_edit").val(),
                year: $("#year_edit").val(),
                active: $("#active_edit").val(),
                oldcode: $("#oldcode_edit").val(),
                subname: $("#subname_edit").val(),
                comments: $("#comments_edit").val(),
                aprotocol: $("#aprotocol_edit").val(),
                adate: moment($("#adate_edit").val()).format("DD.MM.YY"),
                n_type: $("#n_type_edit").val(),
                g3: $("#g3_edit").val(),
                flagvupusk: $("#flagvupusk_edit").val(),
            }
            console.log(JSON.stringify(temp));
            $.ajax({
                method: "POST",
                url: ServerName + "eduplan/update",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify(temp),
                success: function (data) {
                    console.log(data);
                    $.ajax({
                        method: "POST",
                        url: ServerName + "eduplan/list",
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        dataType: 'json',
                        data: JSON.stringify({ token: store.token, opop: store.selectedOpop }),
                        success: function (data) {
                            console.log(data);
                            store.plan_profile = data;
                            $("#study_plan_select").prop('disabled', false);
                            $("#go_to_calendar").prop('disabled', false);
                            $('#study_plan_select > option').remove();
                            for (let i = 0; i < store.plan_profile.length; i++) {
                                $("#study_plan_select").append("<option value=" + store.plan_profile[i].OID + ">" + store.plan_profile[i].SUBNAME + "</option>")
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }

                    });

                },
                error: function (err) {
                    console.log(err);
                }

            });

        });


        editStudyPlan(){

        }

        delStudyPlan(){
            let selectPlan = $("#study_plan_select").val();
            if (selectPlan != 0) {
                if (confirm("Вы хотите удалить учебный план?")) {
                    $.ajax({
                        method: "POST",
                        url: ServerName + "eduplan/delete",
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        dataType: 'json',
                        data: JSON.stringify({ token: store.token, plan: selectPlan }),
                        success: function (data) {
                            if (data.error) {
                                alert("Не удалось удалить учебный план. Попробуйте снова.")
                            } else {
                                $.ajax({
                                    method: "POST",
                                    url: ServerName + "eduplan/list",
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    dataType: 'json',
                                    data: JSON.stringify({ token: store.token, opop: store.selectedOpop }),
                                    success: function (data) {
                                        console.log(data);
                                        store.plan_profile = data;
                                        $("#study_plan_select").prop('disabled', false);
                                        $("#go_to_calendar").prop('disabled', false);
                                        $('#study_plan_select > option').remove();
                                        for (let i = 0; i < store.plan_profile.length; i++) {
                                            $("#study_plan_select").append("<option value=" + store.plan_profile[i].OID + ">" + store.plan_profile[i].SUBNAME + "</option>")
                                        }
                                    },
                                    error: function (err) {
                                        console.log(err);
                                    }

                                });
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }

                    });
                }
            }
        }

        changeStudyPlan(){
            let selectPlan = $("#study_plan_select").val();
            store.selectedPlan = selectPlan;

            if (selectPlan != 0) {
                $.ajax({
                    method: "POST",
                    url: ServerName + "eduplan/get",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    dataType: 'json',
                    data: JSON.stringify({ token: store.token, plan: selectPlan }),
                    success: function (data) {
                        console.log(data);
                        store.planSelect = data;
                        $.ajax({
                            method: "POST",
                            url: ServerName + "eduplan/matrixDisc",
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            dataType: 'json',
                            data: JSON.stringify({ token: store.token, profile: $("#profile_select").val() }),
                            success: function (data) {
                                console.log(data);
                                store.planDiscSelect = data;
                                self.unmount(true);
                                riot.mount("studyPlan");
                                $('.is-active').removeClass('is-active');
                            },
                            error: function (err) {
                                console.log(err);
                            }

                        });
                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            }
        }


        /*====================*/

        logout(){
            if (confirm("Вы хотите выйти из профиля?")) {
                deleteCookie("token");
                store = {};
                self.unmount(true);
                riot.mount("auth");
                $('.is-active').removeClass('is-active');

            }
        }

        getMainMatrix(){
            if (store.matrix_list) {
                for (let i = 0; i < store.matrix_list.length; i++) {
                    if (store.matrix_list[i].MAIN == 1) {
                        return store.matrix_list[i].DESCRIPTION;
                    }
                }
            }
        }

        selectMain(){
            if ($("#matrix_select").val() != 0) {
                $.ajax({
                    method: "POST",
                    url: ServerName + "competency/matrix/main",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    dataType: 'json',
                    data: JSON.stringify({ token: store.token, profile: $("#profile_select").val(), matrix: $("#matrix_select").val() }),
                    success: function (data) {
                        alert(data.msg);
                        self.getMatrix();
                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            }
        }

        getMatrix(){
            console.log($("#profile_select").val());
            $.ajax({
                method: "POST",
                url: ServerName + "competency/matrix/list",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token, profile: $("#profile_select").val() }),
                success: function (data) {
                    console.log(data);
                    store.matrix_list = data;
                    $('#matrix_select > option').remove();
                    for (let i = 0; i < store.matrix_list.length; i++) {
                        $("#matrix_select").append("<option value=" + store.matrix_list[i].OID + ">" + store.matrix_list[i].DESCRIPTION + "</option>")
                    }
                    self.update();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        }

        delMatrix(){
            JSON.stringify({ token: store.token, matrix: $("#matrix_select").val() })
            if ($("#matrix_select").val() != 0) {
                if (confirm("Вы действительно хотите удалить матрицу?")) {
                    $.ajax({
                        method: "POST",
                        url: ServerName + "competency/matrix/delete",
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        dataType: 'json',
                        data: JSON.stringify({ token: store.token, matrix: $("#matrix_select").val() }),
                        success: function (data) {
                            console.log(data);
                            alert(data.msg);
                            self.getMatrix();
                            self.update();
                        },
                        error: function (err) {
                            console.log(err);
                        }

                    });
                }
            } else {
                alert("Выберите матрицу.");
            }
        }

        goToAdd(){
            self.unmount(true);
            riot.mount("calendarTag");
            $('.is-active').removeClass('is-active');
        }

        goToMatrix(){
            if ($("#matrix_select").val() != 0) {
                $.ajax({
                    method: "POST",
                    url: ServerName + "competency/matrix/get",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    dataType: 'json',
                    data: JSON.stringify({ token: store.token, matrix: $("#matrix_select").val() }),
                    success: function (data) {
                        console.log(data);
                        for (let i = 0; i < store.matrix_list.length; i++) {
                            if ($("#matrix_select").val() == store.matrix_list[i].OID) {
                                store.matrixTempName = store.matrix_list[i].DESCRIPTION;
                            }

                        }
                        store.selectedMatrix = $("#matrix_select").val();
                        store.matrix = data;
                        self.unmount(true);
                        riot.mount("tableTag");
                        $('.is-active').removeClass('is-active');
                    },
                    error: function (err) {
                        console.log(err);
                    }

                });

            } else {
                alert("Выберите матрицу.");
            }
        }


        goToComp(){
            $.ajax({
                method: "POST",
                url: ServerName + "competency/getCompetencys",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token, profile: $("#profile_select").val() }),
                success: function (data) {
                    console.log(data);
                    store.competentList = data;
                    localStorage.setItem("comp", JSON.stringify(data));
                    $("#go_to_matrix").prop('disabled', false);
                    $("#go_to_comp").prop('disabled', false);
                },
                error: function (err) {
                    console.log(err);
                }

            });
        }

        goCompPage(){
            self.unmount(true);
            riot.mount("competentPage");
            $('.is-active').removeClass('is-active');
        }

        goToProfile(){
            self.unmount(true);
            riot.mount("profilePage");
            $('.is-active').removeClass('is-active');
        }
        $(document).on('change', '#profile_select', function (e) {
            $.ajax({
                method: "POST",
                url: ServerName + "opop",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token, profile: e.target.value }),
                success: function (data) {
                    console.log(data);
                    store.opop_profile = data;
                    console.log(e.target.value);
                    store.profileSelected = e.target.value;
                    $("#opop_select").prop('disabled', false);
                    for (let i = 0; i < store.opop_profile.length; i++) {
                        $("#opop_select").append("<option value=" + store.opop_profile[i].OID + ">" + store.opop_profile[i].DESCRIPTION + "</option>")
                    }
                    if (!store.competentList)
                        self.goToComp();
                },
                error: function (err) {
                    console.log(err);
                }

            });
        });
        $(document).on('change', '#opop_select', function (e) {
            $.ajax({
                method: "POST",
                url: ServerName + "eduplan/list",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token, opop: e.target.value }),
                success: function (data) {
                    console.log(data);
                    store.plan_profile = data;
                    store.selectedOpop = e.target.value;
                    $("#study_plan_select").prop('disabled', false);
                    $("#go_to_calendar").prop('disabled', false);
                    $("#addStudyPlanButton").prop('disabled', false);
                    $("#changeStudyPlanButton").prop('disabled', false);
                    $("#delStudyPlan").prop('disabled', false);
                    $("#changeStudyPlan").prop('disabled', false);

                    for (let i = 0; i < store.plan_profile.length; i++) {
                        $("#study_plan_select").append("<option value=" + store.plan_profile[i].OID + ">" + store.plan_profile[i].SUBNAME + "</option>")
                    }
                },
                error: function (err) {
                    console.log(err);
                }

            });
        });


        $(document).on('click', '#go_to_calendar', function (e) {
            $.ajax({
                method: "POST",
                url: ServerName + "calendar/get",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token, opop: $("#opop_select").val() }),
                success: function (data) {
                    console.log(data);
                    store.calendar = data;
                    $.ajax({
                        method: "POST",
                        url: ServerName + "calendar/etype",
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        dataType: 'json',
                        data: JSON.stringify({ token: store.token }),
                        success: function (data) {
                            store.calendarType = data;
                            console.log(data);
                            self.goToAdd();
                        },
                        error: function (err) {
                            console.log(err);
                        }

                    });

                },
                error: function (err) {
                    console.log(err);
                }

            });
        });
        $(document).on('click', '#addMatrix', function (e) {
            if ($("#matrixDescription").val()) {
                $.ajax({
                    method: "POST",
                    url: ServerName + "competency/matrix/insert",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    dataType: 'json',
                    data: JSON.stringify({ token: store.token, profile: store.profileSelected, date: moment().format("DD.MM.YY"), description: $("#matrixDescription").val() }),
                    success: function (data) {
                        $("#matrixDescription").val("");
                        self.getMatrix();
                        self.update();
                        console.log(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            } else {
                alert("Введите описание матрицы.")
            }
        });






    </script>
</selectedProfile>