<studyPlan>

    <nav class="navbar navbar-dark bg-dark" style="margin-bottom: 18px;">
        <a class="navbar-brand" href="#">Учебный план</a>
        <div>
            <button type="button" class="btn btn-primary" onclick={goBack}>Сохранить</button>
            <button type="button" class="btn btn-primary" onclick={goBack}>Назад</button>
        </div>
    </nav>


    <div class="custom-table">
        <div class='custom-table-row head'>
            <div class='custom-table-td' each="{item, index in subjectArr}">
                <div class='custom-table-tr-2'>
                    {index+1}
                </div>
                <div class='custom-table-tr-2'>
                    60
                </div>
            </div>
        </div>
        <div class='custom-table-row'>
            <div class='custom-table-td' each="{item, index in subjectArr}">
                <div class='custom-table-tr-2' each={subject, index in item}>

                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle plan-card button-study-plan" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {subject.name}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#hourModal" onclick={readSubject}>Добавить часы и зачетные еденицы</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#moveToSemester" onclick={readSubject}>Переместить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- <div class="page-content plan vh90">
        <table class="table">
            <thead>
                <tr>
                        <th scope="row">1</th>
                </tr>
                <tr>
                        <th>60 часов</td>
                </tr>
                    
            </thead>
            <tbody>
                <tr each={item, index in subjectArr}>
                    
                    <td each={subject, index in item}>
                        <div class="btn-group" role="group"    >
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle plan-card" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" >
                                {subject.name}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#hourModal" onclick={readSubject}>Добавить часы и зачетные еденицы</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#moveToSemester" onclick={readSubject}>Переместить</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->
    <div class="modal fade" id="moveToSemester" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выберите семестр, в который хотите перенести предмет</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <select class="form-control" id="moveSelect">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick={moveSubject}>Переместить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="hourModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:600px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавьте что-нибудь</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-2col">
                        <div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Зачетных единиц</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1">

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Часы всего</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1">

                            </div>
                            <label for="exampleInputEmail1">Часы в неделю</label>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="custom-little-label">Лекции </label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1">

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="custom-little-label">Лабораторные работы</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1">

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="custom-little-label">Практические работы</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1">

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ИРС</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1">

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">СРС</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="1">

                            </div>
                        </div>
                        <div>
                           
                                <label for="exampleInputPassword1">Контрольные мероприятия</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Экзамен</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                    <label class="form-check-label" for="exampleCheck2">Зачет</label>
                                </div>
                            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick={moveSubject}>Переместить</button>
                </div>
            </div>
        </div>
    </div>




    <script>

        this.subjectArr = [
            [
                { id: 1, name: "Программирование" }, { id: 2, name: "Программирование" }, { id: 3, name: "Программирование" }, { id: 4, name: "Программирование" }, { id: 5, name: "Программирование" }, { id: 6, name: "Программирование" }, { id: 7, name: "Программирование" }, { id: 8, name: "Программирование" }
            ], [
                { id: 9, name: "Программирование" }, { id: 10, name: "Программирование" }, { id: 11, name: "Программирование" }, { id: 12, name: "Программирование" }
            ], [
                { id: 13, name: "Программирование" }, { id: 14, name: "Программирование" }, { id: 15, name: "Программирование" }, { id: 16, name: "Программирование" }
            ], [
                { id: 17, name: "Программирование" }, { id: 18, name: "Программирование" }, { id: 19, name: "Программирование" }, { id: 20, name: "Программирование" }, { id: 21, name: "Программирование" }, { id: 22, name: "Программирование" }, { id: 23, name: "Программирование" }, { id: 24, name: "Программирование" }
            ], [
                { id: 25, name: "Программирование" }, { id: 26, name: "Программирование" }, { id: 27, name: "Программирование" }, { id: 28, name: "Программирование" }
            ], [
                { id: 29, name: "Программирование" }, { id: 30, name: "Программирование" }, { id: 31, name: "Программирование" }, { id: 32, name: "Программирование" }
            ], [
                { id: 33, name: "Программирование" }, { id: 34, name: "Программирование" }, { id: 35, name: "Программирование" }, { id: 36, name: "Программирование" }
            ], [
                { id: 37, name: "Программирование" }, { id: 38, name: "Программирование" }, { id: 39, name: "Программирование" }, { id: 40, name: "Программирование" }
            ]
        ]

        var self = this;


        this.selectSubject;


        this.on("mount", function () {
            console.log(self.subjectArr);
        })

        readSubject(e){
            self.selectSubject = e.item.subject;
            console.log(e);
        }

        moveSubject(){
            let week = $("#moveSelect").val();
            console.log(week - 1);
            for (let i = 0; i < self.subjectArr.length; i++) {
                for (let j = 0; j < self.subjectArr[i].length; j++) {
                    if (self.subjectArr[i][j].id == self.selectSubject.id) {
                        self.subjectArr[i].splice(j, 1);
                    }
                }
            }
            self.subjectArr[week - 1].push(self.selectSubject);
            self.update();
        }

        goBack(){
            self.unmount(true);
            riot.mount("selectedProfile");
            $('.is-active').removeClass('is-active');
        }

    </script>
</studyPlan>