<tableTag>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Матрица компетенции</a>
            <div>
                <button type="button" class="btn btn-primary" onclick={saveMatrix}>Сохранить</button>
                <button type="button" class="btn btn-primary" onclick={goBack}>Назад</button>
            </div>
        </nav>
        <input type="text" class="form-control tableHeader" id="matrixHeader" value={matrixName} disabled>
        <div class="plan-container matrix">
            <table class="table table-hover plan-table">
                <tbody>

                    <tr each="{item, index in matrix}" if="{matrix.length!=0}" id="{i}">
                        <th scope="row">
                            {getCompName(item.name)}
                        </th>

                        <td each="{s_item, s_index in item.subj}" if={item.subj.length> 0}>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle plan-card" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    {s_item.NAME}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#">Изменить</a>
                                    <a class="dropdown-item" href="#" id="{s_index}" data-s="{index}" onclick="{deleteSubject}">Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" id={index} class="btn btn-primary  plan-add-button" onclick="{clickAddSubjectIndex}" data-toggle="modal"
                                data-target="#exampleModal">+</button>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">
                            <button type="button" class="btn btn-primary  plan-add-button" data-toggle="modal" data-target="#addCompMatrixModal">+</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Окно добавления предмета !-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выберите предмет</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Кафедра</label>
                            <select class="form-control" id="chairList">
                                <option value="0" selected>Выберите кафедеру</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Предмет</label>
                            <select class="form-control" disabled id="subjectSelect">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{clickAddSubject}">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addCompMatrixModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выберите компетенцию</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Компетенции</label>
                            <select class="form-control" id="competentListModal">
                                <option value="0" selected>Выберите компетенцию</option>
                            </select>
                        </div>
                    </form>
                    <div>{compText}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="{clickAddRow}">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        this.matrix = store.matrix;

        this.chair = [];
        this.discipline = [];

        this.matrixName = store.matrixTempName;

        this.compText = "Выберите компетенцию";

        var self = this;


        this.on("mount", function () {
            for (let i = 0; i < store.competentList.length; i++) {
                $("#competentListModal").append("<option value=" + store.competentList[i].OID + ">" + store.competentList[i].NAME + "</option>")
            }
            $.ajax({
                method: "POST",
                url: ServerName + "chair/list",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token }),
                success: function (data) {
                    self.chair = data;
                    for (let i = 0; i < self.chair.length; i++) {
                        $("#chairList").append("<option value=" + self.chair[i].OID + ">" + self.chair[i].VALUE + "</option>")
                    }
                    console.log(data);
                },
                error: function (err) {
                    console.log(err);
                }

            });
            var temp_matrix =  _.groupBy(self.matrix, function (item) { return item.COMPETENCYOID; });
            var temp_matrix2 = [];
            var i = 0;
            for (let key in temp_matrix) {
                console.log(temp_matrix[key])
                temp_matrix2.push({name: key, subj:[]})
                for(let j = 0; j < temp_matrix[key].length; j++){
                    temp_matrix2[i].subj.push({COMPETENCY: temp_matrix2[i].name, DISCIPLINE: temp_matrix[key][j].DISCIPLINEOID, NAME: temp_matrix[key][j].DISCIPLINE})
                }
                i++;
            }
            self.matrix = temp_matrix2;
            self.update();
            console.log(temp_matrix);
            console.log(temp_matrix2);
        });
        $(document).on('change', '#chairList', function (e) {
            let temp = $("#chairList").val();
            self.discipline = [];
            $("#subjectSelect").prop('disabled', true);
            $.ajax({
                method: "POST",
                url: ServerName + "discipline/list",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token, chair: temp }),
                success: function (data) {
                    self.discipline = data;
                    $('#subjectSelect > option').remove();
                    for (let i = 0; i < self.discipline.length; i++) {
                        $("#subjectSelect").append("<option value=" + self.discipline[i].OID + ">" + self.discipline[i].NAME + "</option>")
                    }
                    $("#subjectSelect").prop('disabled', false);
                    self.update();
                    console.log(data);
                },
                error: function (err) {
                    console.log(err);
                }

            });
            self.update();
        });


        $(document).on('change', '#competentListModal', function (e) {
            console.log($("#competentListModal").val());
            let temp = $("#competentListModal").val();
            for (let i = 0; i < store.competentList.length; i++) {
                if (temp == store.competentList[i].OID) {
                    console.log(store.competentList[i].VALUE);
                    self.compText = store.competentList[i].VALUE;
                }
            }
            self.update();
        });


        getCompName(id){
            for (let i = 0; i < store.competentList.length; i++) {
                if (id == store.competentList[i].OID) {
                    return store.competentList[i].NAME;
                }
            }
        }

        getSubjectName(id){

        }

        clickAddSubjectIndex(e) {
            console.log(e.item.index);
            selectedRow = e.item.index;
        };
        deleteSubject(e){
            console.log(e);
            var rowIndex = e.target.dataset.s;
            var subIndex = e.item.s_index;
            console.log(rowIndex);
            console.log(subIndex);
            self.matrix[rowIndex].subj.splice(subIndex, 1);
            self.update();
        }
        clickAddRow() {
            self.matrix.push({ name: $("#competentListModal").val(), subj: [] });
            self.update();
            console.log(self.matrix);
        };
        clickAddSubject(){
            var select = $('#subjectSelect').val();
            var select_name;
            for (let i = 0; i < self.discipline.length; i++) {
                if (select == self.discipline[i].OID) {
                    select_name = self.discipline[i].NAME;
                }
            }
            console.log(select);
            if (select) {
                self.matrix[selectedRow].subj.push({ COMPETENCY: self.matrix[selectedRow].name, DISCIPLINE: select, FLAG: 0, NAME: select_name });
            }

            self.update();
        };


        saveMatrix(){
            var cells = [];
            for (var i = 0; i < self.matrix.length; i++) {
                if (self.matrix[i].subj) {
                    for (var j = 0; j < self.matrix[i].subj.length; j++) {
                        cells.push(self.matrix[i].subj[j]);
                    }
                }
            }
            console.log(cells);
            $.ajax({
                method: "POST",
                url: ServerName + "competency/matrix/set",
                headers: {
                    'Content-Type': 'application/json',
                },
                dataType: 'json',
                data: JSON.stringify({ token: store.token, matrix: store.selectedMatrix, cells: cells }),
                success: function (data) {
                    alert("Матрица сохранена");
                    self.goBack();
                    console.log(data);
                },
                error: function (err) {
                    console.log(err);
                }

            });

        }

        goBack(){
            self.unmount(true);
            riot.mount("selectedProfile");
            $('.is-active').removeClass('is-active');
        }


    </script>
</tableTag>