.auth-text{
    text-align: center;
    padding-top: 15%;
    font-size: 20px;
}
.auth-admin-form{
    display: grid;
    height: auto;
    width: 30vw;
    background-color: rgba(0,0,0,.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-radius: 5px;
}

.auth-admin-form input{
    margin: 10px 15px 10px 15px;
    padding:0 20px 0 20px;
    border-radius:2px;
    background-color:#fff;
    border:0px;
    line-height:42px;
    font-size:14px;
    color:rgba(0,0,0,0.5);
    font-weight:300
}


.auth-admin-form .auth-button{
    text-decoration: none;
    margin-top:10px;
    border:0px;
    border-radius:5px;
    background-color:#179fe6;
    display:block;
    line-height:40px;
    text-align:center;
    font-size:13px;
    font-weight:bold;
    color:#fff;
    padding:0 24px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    transition:.2s linear
}


.plan-content .plan-container{
    display: flex;
    margin-bottom: 5px;
}
.plan-content .plan-container .add-button{
    border: 1px solid;
    color: #000;
    padding: 0 5px;
    margin: 15px;
}
.plan-content .plan-container .add-button.hidden{
    border: none;
    color: #fff;
    padding: 0 5px;
    margin: 15px;
}

.plan-content .plan-container .plan-block{
    padding: 15px 0;
    border: 1px solid rgba(0,0,0,.1);
    min-width: 20px;
    text-align: center;
}

.plan-content .plan-container.plan-0 .plan-block{
    padding: 15px 0;
    border: none;
    min-width: 20px;
    text-align: center;
}



.cover-form {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}

.cover-form.addModal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}

.cover-form.editModal .modal-addUser,
.cover-form.addModal .modal-addUser {
    background-color: #fff;
    width: 40vw;
    z-index: 9999;
    border-radius: 5px;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    padding: 15px;
}


.page-content{
    margin: 15px;
}

.page-content .select-block{
    display: flex;
}

.page-content .select-block .form-group{
    width: 50%;
}

button.btn.lstu.btn-primary{
    height: 44px;
    margin: auto 0px 13px 30px;
}

.page-content .page-block{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.plan-table{
    overflow-x: scroll;
}
.plan-table tr{
    display: flex;
}
.plan-table tr th{
    display: flex;
    width: 70px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.plan-table tr td{
    display: flex;
}
.plan-table tr td .btn-group button{
    width: auto;
}
.plan-table thead tr th{
    width:200px;
}
.plan-card{
    width: 200px;
    font: 300 15px/17px Roboto!important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.jumbotron{
    height: 30vh;
    margin-bottom: 0px!important;
    position: relative;
    background-size: cover!important;
    background-position: center!important;
}

.plan-table.calendar thead tr th{
    width: 70px;
}
.plan-table.calendar tr td{
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.plan-table.calendar tr td button{
    width: 40px;
}
.plan-card{
    width: 200px;
    font: 300 15px/17px Roboto!important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}
.plan-card-little{
    width: 50px;
}
.plan-container{
    overflow: scroll;
    height: calc(100vh - 70px);
}
.jumbotron{
    height: 30vh;
    margin-bottom: 0px!important;
    position: relative;
    background-size: cover!important;
    background-position: center!important;
}

.plan-add-button{

}

.plan-jub-but{
    position: absolute;
    right: 40px;
    bottom: 15px;
}
.plan-jub-but button{
    font: 300 15px/23px Roboto;
}

.jumbotron.white-t h1{
    color: #fff;
}
.jumbotron.white-t p{
    color: #fff;
}

.page-content.plan{
    width: calc(100vw - 45px);
    overflow-x: scroll;
}

.jumbotron.white-t h1{
    color: #fff;
}
.jumbotron.white-t p{
    color: #bfddff;
}
nav{
    margin-bottom: 18px;
}

.page-content.profile{
    display: flex;
    justify-content: center;
}

.page-content.profile .list-group .list-group-item{
    display: flex;
}

.page-content.profile .list-group .list-group-item .right{
    margin-left: auto;
}

.page-content.profile .list-group{
    width: 40%;
}


.plan-container.matrix{
    overflow: scroll;
    height: calc(100vh - 121px);
}

input.tableHeader{
    margin-bottom: 15px;
    font-weight: 600;
}



.rotate-tr{ 
    display: flex; 
    } 
    .rotate-tr tr{ 
    display: flex; 
    flex-direction: column; 
    } 
    .rotate-tr th,.rotate-tr td{ 
    text-align: center; 
    } 
    
    .vh90{ 
    height:90vh; 
    width: 100vw!important; 
    margin: 0px; 
    } 
    .vh10{ 
    height:10vh; 
    }

    .plan-card{ 
        width: 200px; 
        /*font: 300 15px/17px Roboto!important; 
        //padding-top: 20px!important; 
        //padding-bottom: 20px!important; */
        font: 300 12px/15px Roboto!important; 
        padding-top: 10px!important; 
        padding-bottom: 10px!important; 
        }





        .custom-table-row{
           display: flex;
        }
        .custom-table-td{
            width: -webkit-fill-available;
        }
        .custom-table-tr-2{
            
            text-align: center;
            padding: 5px;
            border-bottom: 1px solid #d7dae1;
        }


        .custom-table-row.head .custom-table-td{ 

        }
        .custom-table-row.head .custom-table-tr-2{ 
            font: 700 15px/15px Roboto;
            padding: 10px;
            border-top: 1px solid #d7dae1;
            border-bottom: none!important;
            background: #f9f9f9;
        }
        .custom-table-row.head .custom-table-tr-2:last-child{ 
            font: 400 14px/17px Roboto;
            padding: 10px;
            border-top: 1px solid #d7dae1;
            background: #f9f9f9;
            border-bottom: 1px solid #d7dae1;
        }
        .button-study-plan{
            width: auto;
            white-space: normal!important;
        }
        .form-2col{
            display: flex;
        }
        .form-2col .form-group{
            width: 90%;
        }
        .btn-group-vertical.seg7{

        }
        .btn-group-vertical.seg7 button{
            font-size: 8px;
            padding: 2px;
            border: none;
        }
        .custom-little-label{
            font-size: 12px;
            margin-bottom: 5px;
            margin-left: 10px;
            color: #777;
        }
        .border-tab-custom{
            border-radius: 10px 10px 0 0!important;
            background: #e8ecf1;
            margin-right: 5px;
        }